@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

body {
    background: #eeedeb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.navbar-form {
    margin-left: 100px; /* Sesuaikan angka ini untuk mengatur posisi search bar */
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-default .navbar-nav #user-profile {
    height: 50px;
    padding-top: 15px;
    padding-left: 58px;
}

.navbar-collapse {
    margin-left: 25px;
}

.navbar-default .navbar-nav #user-profile img {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 2px;
    left: 8px;
    padding: 1px;
}

#wrapper {
    padding-top: 50px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media (min-width: 992px) {
    #wrapper {
        padding-left: 225px;
    }
}

@media (min-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 225px;
    }
}

#sidebar-wrapper {
    border-right: 1px solid #e7e7e7;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 225px;
    width: 0;
    height: 100%;
    margin-left: -225px;
    overflow-y: auto;
    background: #478ccf;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper .sidebar-nav {
    position: absolute;
    top: 0;
    width: 225px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-wrapper .sidebar-nav li {
    text-indent: 0;
    line-height: 45px;
}

#sidebar-wrapper .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #428bca;
}

.sidebar-nav li:first-child a {
    background: #92bce0 !important;
    color: #fff !important;
}

#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
    width: 45px;
    height: 45px;
    font-size: 14px;
    padding: 0 2px;
    display: inline-block;
    text-indent: 7px;
    margin-right: 10px;
    color: #fff;
}

#sidebar-wrapper .sidebar-nav li a .caret {
    position: absolute;
    right: 23px;
    top: auto;
    margin-top: 20px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding: 0;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
    margin-right: 10px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
    text-indent: 15px;
}

@media (max-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 45px;
    }
    #wrapper #sidebar-wrapper #sidebar #sidemenu li ul {
        position: fixed;
        left: 45px;
        margin-top: -45px;
        z-index: 1000;
        width: 200px;
        height: 0;
    }
}

.sidebar-nav li:first-child a {
    background: #6aa3d5 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(2) a {
    background: #6aa3d5 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(4) a {
    background: #6aa3d5 !important;
    color: #fff !important;
}
.sidebar-nav li:nth-child(3) a {
    background: #6aa3d5 !important;
    color: #fff !important;
}
.sidebar-nav li:nth-child(5) a {
    background: #6aa3d5 !important;
    color: #fff !important;
}

/* card pada dashboard */
.layoutSidenav_content {
    background: #eeedeb;
    margin: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    margin: 15px;
    border: none;
    position: relative;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
        0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
        0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
        0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
    
}

.l-bg-cherry,
.l-bg-red,
.l-bg-blue-dark,
.l-bg-green-dark,
.l-bg-orange-dark {
    color: #fff;
    margin: 25px;
    transition: transform 0.3s ease-in-out;
}

.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
}

.l-bg-red {
    background: linear-gradient(to right, #8b0000, #dc143c) !important;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
}

.l-bg-cherry:hover, 
.l-bg-red:hover,
.l-bg-orange-dark:hover,
.l-bg-green-dark:hover,
.l-bg-blue-dark:hover {
    transform: scale(1.05);
}

.card-footer a.stretched-link {
    transition: color 0.3s ease-in-out;
}

.card-footer a.stretched-link:hover {
    color: #f0f0f0;
    text-decoration: underline;
}

.card-title {
    margin-top: 30px;
}

.table {
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
}

.filter{
    margin: 20px;
}

/* CSS untuk mempercantik button */
.btn-primary {
    background-color: #007bff; /* Warna latar belakang tombol */
    border-color: #007bff; /* Warna border tombol */
    color: #ffffff; /* Warna teks tombol */
    border-radius: 5px; /* Membuat sudut tombol melengkung */
    padding: 10px 20px; /* Jarak dalam tombol */
    font-size: 16px; /* Ukuran font tombol */
    transition: background-color 0.3s ease; /* Efek transisi saat hover */
}

.btn-primary:hover {
    background-color: #0056b3; /* Warna tombol saat di-hover */
    border-color: #0056b3; /* Warna border tombol saat di-hover */
}

/* CSS untuk mempercantik tabel */
.table {
    width: 100%; /* Lebar tabel 100% dari elemen parent */
    margin-bottom: 1rem; /* Jarak bawah tabel */
    background-color: transparent; /* Latar belakang tabel transparan */
    border-collapse: collapse; /* Menghilangkan jarak antar border */
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6; /* Warna border tabel */
    padding: 12px; /* Jarak dalam sel tabel */
    text-align: center; /* Pusatkan teks dalam tabel */
    vertical-align: middle; /* Posisikan teks di tengah vertikal */
}

.table thead th {
    background-color: #f8f9fa; /* Warna latar belakang header tabel */
    color: #495057; /* Warna teks header tabel */
    font-weight: bold; /* Membuat teks header tabel tebal */
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Warna latar belakang untuk baris genap */
}

/* Efek hover pada baris tabel */
.table tbody tr:hover {
    background-color: #e9ecef; /* Warna latar belakang saat di-hover */
}

/* CSS untuk table-responsive */
.table-responsive {
    overflow-x: auto; /* Menambahkan scroll horizontal untuk tabel */
    -webkit-overflow-scrolling: touch; /* Memperbaiki scroll pada perangkat mobile */
}

h2 {
    margin: 0;
}

.form1 {
    margin-left: 30px;
    margin-right: 30px;
}

#form-step {
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
        0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
        0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
        0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}
#multi-step-form-container {
    margin-top: 0.8rem;
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.pl-0 {
    padding-left: 0;
}

.button {
    padding: 0.7rem 1.5rem;
    border: 1px solid #4361ee;
    background-color: #4361ee;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    border: 1px solid #0e9594;
    background-color: #0e9594;
}

.mt-3 {
    margin-top: 2rem;
}

.d-none {
    display: none;
}

.form-step {
    border: 1px solid rgba(226, 231, 254, 1);
    border-radius: 30px;
    padding: 3rem;
}

.font-normal {
    font-weight: normal;
}

ul.form-stepper {
    counter-reset: section;
    margin-bottom: 3rem;
}

ul.form-stepper .form-stepper-circle {
    position: relative;
}

ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

ul.form-stepper > li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}

.form-stepper-horizontal > li:not(:last-of-type) {
    margin-bottom: 0 !important;
}

.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}

.form-stepper-horizontal li:after {
    background-color: #dee2e6;
}

.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #4da3ff;
}

.form-stepper-horizontal li:last-child {
    flex: unset;
}

ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}

.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: #243985 !important;
    color: #fff;
}

.form-stepper .form-stepper-active .label {
    color: #243985 !important;
}

.form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: #243985 !important;
    color: #fff !important;
}

.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
}

.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #0e9594 !important;
    color: #fff;
}

.form-stepper .form-stepper-completed .label {
    color: #0e9594 !important;
}

.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #0e9594 !important;
    color: #fff !important;
}

.form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}

.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}

.form-stepper .label {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.form-stepper a {
    cursor: default;
}
